.header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    flex-wrap: wrap;
}
.main-content{
    border: solid 1px black;
    flex-wrap: wrap;
    height: 200px;
    width: 250px;
    text-align: center;
    padding: 100px 50px 100px 50px;
    background-color:  white;

}
.main-container{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}
a{
   color: black; 
   text-decoration: none;
}
a:hover{
    color: blue;
}